{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

      <div class="row">
        <div class="col-sm-4 varietals">
          <h3>Varietals</h3>
          {% for varietal in varietals %}
          <a href="{{url_for('showWines', varietal_id=varietal.id)}}">
            <div>{{varietal.name}}</div>
          </a>
          {% endfor %}
        </div>
        <div class="col-sm-8">
          <h3>Latest Wines</h3>
          {% for wine in wines %}
          <div>{{wine.name}} {{wine.year}} <i><span class="selected-varietal">({{wine.varietal.name}})<span></i></div>
          {% endfor %}
          {% if loginOK %}
          <a class="modify" href="{{url_for('addWine')}}"><u>Add</u> </a>
          {% endif %}
        </div>
      </div>

{% endblock %}
