{% extends "main.html" %}
{% block content %}

      <div class="row">
        <div class="col-sm-12 header">
          <div class="row">
            <div class="col-sm-6">Catalog App</div>
            <div class="col-sm-6">
              <a class="btn btn-danger pull-right" href="#" role="button">LOGIN</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">.col-md-6</div>
        <div class="col-sm-6">.col-md-6</div>
      </div>

{% endblock %}
