{% extends "main.html" %}
{% block content %}

      <div class="row">
        <div class="col-sm-12 header">
          <div class="row">
            <div class="col-sm-6 catalog">Catalog App</div>
            <div class="col-sm-6">
              <a class="btn btn-danger pull-right" href="#" role="button">LOGIN</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h3><mark>DELETE</mark> {{wine.name}} {{wine.year}} ?</h3>
          <div><h4>Description</h4></div>
          <div>{{wine.description}}</div>
          <br>
          <form action="#" method="post">
            <button type="submit" class="btn btn-warning delete" id="submit" type="submit">Delete</button>
          </form>
          <br>
          <a href="{{url_for('showWines', varietal_id=wine.varietal.id)}}">Back to {{wine.varietal.name}}</a>
        </div>
        <div class="col-sm-2"></div>
      </div>

{% endblock %}
