.header {
    font-size: 2em;
    background-color: darkblue;
    color: white;
    padding: 1em;
}

.header a {
    color: white;
}

.selected-varietal {
    color: red;
}

.modify {
    color: red;
}

.cancel {
    color: gray;
}

